[
  {
    "name": "${container_name}",
    "image": "${container_image}",
    "memory": ${memory},
    "repositoryCredentials": {
      "credentialsParameter": "${aws_secret_pull}"
    },
    "cpu": ${cpu},
    "portMappings": [
      {
        "containerPort": 80,
        "hostPort": 80
      }
    ]
  }
]
